## .NET / Visual Studio

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio cache/options
.vs/
*.userosscache
*.sln.docstates
*.userprefs

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Plugin registration tool / crm packages
*.pdb
